<!-- Header -->
<div
  class="p-3 md:p-4 border-b border-gray-200 dark:border-gray-800 flex items-center shadow-sm"
>
@if(isMobile()){
    <button
      pButton
      icon="pi pi-bars"
      class="p-button-text p-button-rounded md:hidden mr-2"
      (click)="toggleMobileSidebar()"
    ></button>
}
  <div>
    <h1 class="text-lg md:text-xl font-semibold">DocuMind AI Assistant</h1>
    <!-- <p class="text-xs md:text-sm text-gray-500 dark:text-gray-400">
          DocuMind 3:4b • Set as default
        </p> -->
  </div>
  <div class="ml-auto flex items-center space-x-2">
    <p-button
      icon="pi pi-cog"
      styleClass="p-button-rounded p-button-outlined shadow-md p-button-sm"
      pTooltip="Settings"
    ></p-button>
    <!-- (click)="showControls = true" -->
    <button
      pButton
      [icon]="darkMode ? 'pi pi-sun' : 'pi pi-moon'"
      class="p-button-rounded p-button-outlined shadow-md p-button-sm"
      (click)="toggleDarkMode()"
      pTooltip="Toggle Theme"
      tooltipPosition="left"
    ></button>
  </div>
</div>
